@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap';
@import './bulma/sass/utilities/mixins.sass';

.container {
  height: 100vh;
  //HERO START
  .hero {
    .hero-body {
      display: flex;
      flex-direction: column;
      background-color: #8e93ff;
      position: relative;
      .upper {
        width: 100%;
        height: 100%;
        padding: 20px 10px 20px 10px;
        display: flex;
        flex-direction: row;
        .dropdown {
          .dropdown-trigger {
            .button {
              font-family: 'Montserrat';
            }
          }
          .dropdown-content {
            .dropdown-item {
              font-family: 'Montserrat';
            }
          }
          @include mobile {
            display: none;
          }
        }
        .navbar-burger {
          display: none;
          @include mobile {
            display: block; 
          }
        }
      }
      .bottom {
        width: 100%;
        height: 100%;
        padding: 50px 10px 50px 10px;
        .columns {
          .profile-picture {
            width: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include mobile {
              justify-content: center;
            }
          }
          .profile-info {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            font-family: 'Montserrat';
            font-size: 20px;
            @include mobile {
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
  //HERO END
  //CV-SECTION START
  .cv-section {
    flex-wrap: wrap;
    .cv {
      padding: 10px;
      .notification {
        height: 200px;
        background-color: #FFF;
        border: #939393 solid 0.5px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          color: gray;
          font-size: 50px;
        }
        .cv-title {
          font-size: large;
          color: gray;
          font-family: 'Montserrat';
          font-weight: 600;
          padding: 10px;
        }
        .creation-date {
          font-size: medium;
          color: grey;
          font-family: 'Montserrat';
        }
      }
      .notification:hover {
        opacity: 0.6;
      }
      .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .button {
          border: none;
          background-color: #8e93ff;
          color: white;
          transition: 0.3s ease;
          width: 80px;
          font-family: 'Montserrat';
        }
        .button:hover {
          background-color: #787ffe;
          transition: 0.3s ease;
        }
      }
    }
  }
  //CV-SECTION END
  //SIDEBAR START
  .sidebar {
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px #000;
    width: 60%;
    display: none;
    transition: 0.2s ease;
    padding: 10px;
    .rows {
      .row {
        font-family: 'Montserrat';
        font-size: 15px;
        padding: 10px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #8e93ff;
        }
        h1, h2 {
          color: #8e93ff;
        }
      }
      .row:active {
        background-color: #dfdfdf;
      }
    }
    @include mobile {
      display: block;
    }

  }
  .hidden {
    transform: translate(-500px, 0px);
    transition: 0.2s ease;
  }
  //SIDEBAR END
  //POPUP START
  .popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .background {
      position:fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: rgb(176, 176, 176);
      opacity: 0.6;
    }
    .box {
      position: relative;
      z-index: 100;
      .confirmation-label {
        font-family: 'Montserrat';
        padding: 20px;
      }
      .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .field {
        .label {
          font-family: 'Montserrat';
        }
        .control {
          .input {
            font-family: 'Montserrat';
          }
        }
      }
      .button {
        font-family: 'Montserrat';
        background-color: #8e93ff;
        color: white;
        border: none;
        width: 60px;
        transition: 0.3s ease;
      }
      .button:hover {
        background-color: #787ffe;
      }
    }
  }
  

}